  body {
    margin: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    margin: 90px 20px;
    column-gap: 20px;
    row-gap: 20px;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-family: 'Baloo Bhai', Arial;
  }


  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }

  /* Post button styles */
  .post-btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Baloo Bhai 2';
  }

  .change-mode {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Baloo Bhai 2';
  }

  .btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .item {
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.695);
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item:hover {
    transform: translateY(-10px);
  }