body {
    color: white;
    background: url(../assets/mainpage_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-y: auto;
    padding-top: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 0 0.5rem black;
    transition: 0.15s;
    cursor: pointer;
    line-height: 2rem;
}

.logo:hover {
    text-shadow: 0 0 1.5rem white;
}

.btn-rw {
    display: flex;
    gap: 24px;
}

#login-btn,
#signup-btn {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 0 1rem white;
    transition: 0.15s;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #CEFF1A;
    box-shadow: 0 0 1.5rem #CEFF1A;
    transition: 0.15s;
}

#signup-btn:hover {
    color: white;
    background-color: #F8C630;
    box-shadow: 0 0 1.5rem #F8C630;
    transition: 0.15s;
}

#login-btn:active,
#signup-btn:active {
    transform: translateY(1px);
}

.display-text-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-text {
    text-shadow: 0 0 1rem black;
    font-size: 6rem;
}

.ityped-cursor {
    font-size: 6rem;
    text-shadow: 0 0 1rem black;
    opacity: 1;
    animation: blink ease-in-out 1s infinite;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

.art-preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 2.5rem;
    padding: 4rem;
}

.art {
    background: none;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 0.75rem solid #3772FF;
    box-shadow: 0 0 2rem #3772FF;
}


.search-input {
    width: min(70%, 600px);
    position: relative;
}

.searchbar {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.autocom-box {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.search-input.active .autocom-box{
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    box-sizing: border-box;
    list-style: none;
    padding: 0.5rem;
    display: none;
    width: 100%;
    cursor: default;
}

.search-input.active .autocom-box li{
    display: block;
}

.autocom-box li:hover{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}